<!doctype html>
<title>CO2 Global</title>
<form action="/" method="GET">
    <button type="submit">
        <H3>Return to Home Page</H3>
    </button>
</form>

<form action="/co2_global" method="POST">
    <H5>The year range is from 1715 to 2012</H5>
      Choose Time Range: <br> 
      <input name="start" type="number" min="{{minYr}}" max="{{maxYr}}"
          {% if x1 %} value="{{x1}}" {% else %} value="{{minYr}}" {% endif %}> -
      <input name="end" type="number" min="{{minYr}}" max="{{maxYr}}"
          {% if x2 %} value="{{x2}}" {% else %} value="{{maxYr}}" {% endif %}>
    <br>
    <H5>(Leave the following fields empty for default)</H5>
      Choose Y-axis Minimum : <br>
      <input name="minY" type="number" placeholder="default" step="0.01"
          {% if y1 %} value="{{y1}}" {% else %} value="" {% endif %}>
    <br><br>
      Choose Y-Axis Maximum : <br>
      <input name="maxY" type="number" placeholder="default" step="0.01"
          {% if y2 %} value="{{y2}}" {% else %} value="" {% endif %}>
    <br><br>
      <input type="submit" value="Plot CO2 Emission">
</form>

