<!doctype html>
<title>CO2 global</title>

<form action="/" method="GET">
  <button type="submit">
  <img src="{{ url_for('static', filename='home.png') }}" width=21 height=21>
  </button>
</form>

<form action="/render_gCO2" method="POST">
  <br><br>
    Choose time range: <br> 
    <input name="year1" type="number" min="{{minYr}}" max="{{maxYr}}"
        {% if x1 %} value="{{x1}}" {% else %} value="{{minYr}}" {% endif %}> -
    <input name="year2" type="number" min="{{minYr}}" max="{{maxYr}}"
        {% if x2 %} value="{{x2}}" {% else %} value="{{maxYr}}" {% endif %}>
  <br><br>
    Choose ymin: <br>
    <input name="ymin" type="number" placeholder="default" step="0.01"
        {% if y1 %} value="{{y1}}" {% else %} value="" {% endif %}>
  <br><br>
    Choose ymax: <br>
    <input name="ymax" type="number" placeholder="default" step="0.01"
        {% if y2 %} value="{{y2}}" {% else %} value="" {% endif %}>
  <br><br>
    <input type="submit" value="Plot CO2 Emission!">
</form>

{% if error %}
<p style="color:red">{{error}}</p>
{% endif %}

{% if plots %} 
  {% for p in plots %}
    <br><img src="data:image/png;base64,{{p}}" width=600 height=400>
  {% endfor %}
{% endif %}