<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
        Smart Penguin
      </TITLE>
   </HEAD>
<BODY>
   <H1>Plots for Climate Changes due to CO2 Emission</H1>
   <P><img src="{{ url_for('static',filename="globalWarming.jpg")}}" width=600 height=500></P>
   <H4>Need explanation? See for yourself</H4>
   <form>
        <button type="submit">
            <H3><a href="/co2_global">Visualisation of Fossil-Fuel CO2 Emission Level (Globally)</a></H3>
        </button>
        <button>
            <H3><a href="/temperature">Visualisation of Temperature Changes (Globally)</a></H3>
        </button>
        <button>
            <H3><a href="/co2_country">Visualisation of Fossil-Fuel CO2 Emission Level (by Country)</a></H3>
        </button>
        <button>
            <H3><a href="/predict_future">Predict the CO2 Emission Level in the Future</a></H3>
        </button>
        <br><br><br>
        <button>
            <H3><a href="/help" target="_blank">Help</a></H3>
        </button>
    </form>
</BODY>
</HTML>


