<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
        Smart Penguin
      </TITLE>
   </HEAD>
<BODY>
   <H1>Plots for Climate Changes due to CO2 Emission</H1>
   <P><img src="{{ url_for('static',filename="globalWarming.jpg")}}" width=600 height=500></P>
   <H4>No need to explain, see for yourself</H4>
   <form>
        <button type="submit">
            <H3><a href="/co2_global">Visualisation of Fossil-Fuel CO2 Emissions (Globally)</a></H3>
        </button>
        <button>
            <H3><a href="/co2_country">Visualisation of Fossil-Fuel CO2 Emissions (by Country)</a></H3>
        </button>
        <button>
            <H3><a href="/temperature">Visualisation of Temperature Changes (Globally)</a></H3>
        </button>
    </form>
</BODY>
</HTML>


