<!doctype html>
<title>Prediction Future</title>
<style>
    div {
        float: left;
    }

    img {
        margin-left: 120px;
    }
</style>
<div>
    <form action="/" method="GET">
        <button type="submit">
            <H3>Return to Home Page</H3>
        </button>
    </form>
    <form action="/predict_future" method="POST">
        <br>
        <br> <strong>(Insert any number of year in future to predict the CO2 emission level below):</strong>
        <br> 
        <input name="years" type="number" {% if y %} value="{{y}}" {% else %} value="{{20}}" {% endif %}>
        <br>
        <br>
        <button type="reset" value="Reset">Mistake Cleaner</button>
        <input type="submit" value="Create/Update">
    </form>
</div>

<div>
    {% for plot in plots %} <br> <img src="data:image/png;base64,{{plot}}" width=800 height=600> <br> {% endfor %}
</div>